
<div class="slidebox">
  <div id="navigator" class="slide-menu skin01">
    <div class="bg"></div>
    <ul class="btn-list">
      <li><a href="./find_line.html" class="active">找路线</a></li>
      <li><a href="./find_strategy.html">找攻略</a></li>
      <li><a href="./find_line.html">定制吧</a></li>
      <li><a href="./find_companion.html">找同伴</a></li>
      <li><a href="./find_leader.html">找领队</a></li>
      <li><a href="./find_equipment.html">找装备</a></li>
      <li><a href="./find_knowledge.html">找知识</a></li>
      <li><a href="./afa_steward.html">全程管家</a></li>
    </ul>
  </div>
</div>